USE [StrategicAnalytics_QIPP]
GO
/****** Object:  View [Working].[vwNearestNeighbourCfV_Tall]    Script Date: 23/10/2015 16:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Working].[vwNearestNeighbourCfV_Tall] AS
SELECT 
	[CCGCode]
	, [NeighbourCCGCode]
	, [ClosenessRank]

FROM [Working].[tbNearestNeighbourCfV]

UNPIVOT ([NeighbourCCGCode] FOR [CCGCode] in (
	[00C]
      ,[00D]
      ,[00F]
      ,[00G]
      ,[00H]
      ,[00J]
      ,[00K]
      ,[00L]
      ,[00M]
      ,[00N]
      ,[00P]
      ,[00Q]
      ,[00R]
      ,[00T]
      ,[00V]
      ,[00W]
      ,[00X]
      ,[00Y]
      ,[01A]
      ,[01C]
      ,[01D]
      ,[01E]
      ,[01F]
      ,[01G]
      ,[01H]
      ,[01J]
      ,[01K]
      ,[01M]
      ,[01N]
      ,[01R]
      ,[01T]
      ,[01V]
      ,[01W]
      ,[01X]
      ,[01Y]
      ,[02A]
      ,[02D]
      ,[02E]
      ,[02F]
      ,[02G]
      ,[02H]
      ,[02M]
      ,[02N]
      ,[02P]
      ,[02Q]
      ,[02R]
      ,[02T]
      ,[02V]
      ,[02W]
      ,[02X]
      ,[02Y]
      ,[03A]
      ,[03C]
      ,[03D]
      ,[03E]
      ,[03F]
      ,[03G]
      ,[03H]
      ,[03J]
      ,[03K]
      ,[03L]
      ,[03M]
      ,[03N]
      ,[03Q]
      ,[03R]
      ,[03T]
      ,[03V]
      ,[03W]
      ,[03X]
      ,[03Y]
      ,[04C]
      ,[04D]
      ,[04E]
      ,[04F]
      ,[04G]
      ,[04H]
      ,[04J]
      ,[04K]
      ,[04L]
      ,[04M]
      ,[04N]
      ,[04Q]
      ,[04R]
      ,[04V]
      ,[04X]
      ,[04Y]
      ,[05A]
      ,[05C]
      ,[05D]
      ,[05F]
      ,[05G]
      ,[05H]
      ,[05J]
      ,[05L]
      ,[05N]
      ,[05P]
      ,[05Q]
      ,[05R]
      ,[05T]
      ,[05V]
      ,[05W]
      ,[05X]
      ,[05Y]
      ,[06A]
      ,[06D]
      ,[06F]
      ,[06H]
      ,[06K]
      ,[06L]
      ,[06M]
      ,[06N]
      ,[06P]
      ,[06Q]
      ,[06T]
      ,[06V]
      ,[06W]
      ,[06Y]
      ,[07G]
      ,[07H]
      ,[07J]
      ,[07K]
      ,[07L]
      ,[07M]
      ,[07N]
      ,[07P]
      ,[07Q]
      ,[07R]
      ,[07T]
      ,[07V]
      ,[07W]
      ,[07X]
      ,[07Y]
      ,[08A]
      ,[08C]
      ,[08D]
      ,[08E]
      ,[08F]
      ,[08G]
      ,[08H]
      ,[08J]
      ,[08K]
      ,[08L]
      ,[08M]
      ,[08N]
      ,[08P]
      ,[08Q]
      ,[08R]
      ,[08T]
      ,[08V]
      ,[08W]
      ,[08X]
      ,[08Y]
      ,[09A]
      ,[09C]
      ,[09D]
      ,[09E]
      ,[09F]
      ,[09G]
      ,[09H]
      ,[09J]
      ,[09L]
      ,[09N]
      ,[09P]
      ,[09W]
      ,[09X]
      ,[09Y]
      ,[10A]
      ,[10C]
      ,[10D]
      ,[10E]
      ,[10G]
      ,[10H]
      ,[10J]
      ,[10K]
      ,[10L]
      ,[10M]
      ,[10N]
      ,[10Q]
      ,[10R]
      ,[10T]
      ,[10V]
      ,[10W]
      ,[10X]
      ,[10Y]
      ,[11A]
      ,[11C]
      ,[11D]
      ,[11E]
      ,[11H]
      ,[11J]
      ,[11M]
      ,[11N]
      ,[11T]
      ,[11X]
      ,[12A]
      ,[12D]
      ,[12F]
      ,[13P]
      ,[99A]
      ,[99C]
      ,[99D]
      ,[99E]
      ,[99F]
      ,[99G]
      ,[99H]
      ,[99J]
      ,[99K]
      ,[99M]
      ,[99N]
      ,[99P]
      ,[99Q]
)

) as pvt
GO
